@model copave.Models.Maquina

@{
    ViewData["Title"] = "Nova Maquina";
}
<br>
<h4>Cadastro de Maquinas</h4>
<hr />
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group row">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="TipoId" class="form-control" asp-items="ViewBag.TipoId">
                    <option value="0"></option>
                </select>
                <span asp-validation-for="TipoId" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Instalacao" class="control-label"></label>
                <input asp-for="Instalacao" class="form-control input-group date" name='datetimepicker' value=""/>
                <span asp-validation-for="Instalacao" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Valor" class="control-label"></label>
                <input type="number" min="0.00" step="any" value="0.00" asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <input type="submit" asp-action="Index" value="Listar" class="btn btn-primary" />
                <input type="submit" asp-action="Create" value="Limpar" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
