@{
    ViewData["Title"] = "Pagina Principal";
}
<style>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-top: 05%;
}

</style>

<div class="text-center">
<h1 class="display-4">Bem vindo ao sistema da copave</h1>
</div>
  <div class="container-fluid  border-top">
    <div  class="center">
      <img src="../assets/logo.png" class="center">
    </div>    
  </div>
</div>